
<h1>User Details</h1>

<div>
<p>First Name: <%= @user_show.first_name %></p>
<p>Last Name: <%= @user_show.family_name %></p>
</div>

 <%= link_to "edit", edit_user_path(@user_show.id) %> |
 <%= link_to "delete", @user_show, data: { turbo_method: :delete } %>
<hr> <!-- Add horizontal line -->

<%= link_to "List Page", root_path %> |

<%= link_to "Registration Page", users_new_path %>